<h3 class="alert alert-success">Quản Lý Tác Giả</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="form-floating mb-2">
      <input
        ng-model="form.authorId"
        type="text"
        class="form-control input-sm"
        id="authorId"
        placeholder="Nhập"
      />
      <label for="authorId">Mã tác giả:</label>
    </div>
    <div class="form-floating mb-2">
      <input
        ng-model="form.authorName"
        type="text"
        class="form-control"
        id="authorName"
        placeholder="Nhập"
      />
      <label for="authorName">Tên tác giả:</label>
    </div>
    <div class="form-floating mb-2">
      <input
        ng-model="form.authorBio"
        type="text"
        class="form-control"
        id="authorBio"
        placeholder="Nhập"
      />
      <label for="authorBio">Thông tin:</label>
    </div>
    <div class="form-floating mb-2">
      <input
        ng-model="form.authorPhoto"
        type="text"
        class="form-control"
        id="authorPhoto"
        placeholder="Nhập"
      />
      <label for="authorPhoto">Hình ảnh:</label>
    </div>

    <!-- <div class="col-md-12">
                <label for="inputImage" class="form-label">Image</label>
                <input type="file" onchange="angular.element(this).scope().imageChanged(this.files)" class="form-control" id="inputImage">
            </div> -->
  </div>
  <hr />
</div>
<button ng-click="create()" class="btn btn-primary">Create</button>
<button ng-click="update()" class="btn btn-success">Update</button>
<button ng-click="delete(form.authorId)" class="btn btn-danger">Delete</button>
<button ng-click="reset()" class="btn btn-warning">Reset</button>
<hr />
<table style="width: 100%" border="1" class="table table-hover table-striped">
  <tr>
    <th>Mã tác giả</th>
    <th>Họ và tên</th>
    <th>Thông tin</th>
    <th>Hình ảnh</th>
    <th></th>
  </tr>
  <tr ng-repeat="st in items">
    <td>{{st.authorId}}</td>
    <td>{{st.authorName}}</td>
    <td>{{st.authorBio}}</td>
    <td>{{st.authorPhoto}}</td>

    <td>
      <button ng-click="edit(st.authorId)" class="btn btn-outline-info">
        Edit
      </button>
      <button ng-click="delete(st.authorId)" class="btn btn-outline-danger">
        Delete
      </button>
    </td>
  </tr>
</table>

<script src="authors.js"></script>
