<div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 logo"><a href="#">Địa Chỉ</a></h2>
          <p>Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ, Việt Nam</p>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Dịch Vụ</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Điều Khoản Sử Dụng</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Chính Sách Bảo Mật</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Chính Sách Vận Chuyển</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Giới Thiệu FPT Books</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Hỗ Trợ</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đổi Trả</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Bảo Hành</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Bồi Hoàn</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Khách Sỉ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Tài Khoản</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đăng Nhập</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đăng Ký</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Thay Đổi Địa Chỉ</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Lịch Sử</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Liên Hệ</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map marker"></span><span class="text">XQJ5+R7 Cái Răng, Cần Thơ, Việt Nam</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0981725836</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">https://caodang.fpt.edu.vn/</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 py-5 bg-black">
      <div class="container">
          <div class="row">
          <div class="col-md-12">
    
            <p class="mb-0" style="color: rgba(255,255,255,.5);">
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://docs.google.com/document/d/1ppl_H7f5q6uej31Hwbwc0q6K2rKnDQvJMGNCD-E_3js/edit?usp=sharing" target="_blank">4S Team</a>
          </div>
        </div>
      </div>
  </div>