<div class="container-fluid">
	    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
          <li class="nav-item active"><a href="index.html" class="nav-link">Trang Chủ</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">Giới Thiệu</a></li>
          <li class="nav-item"><a href="coming-soon.html" class="nav-link">Sắp Ra Mắt</a></li>
          <li class="nav-item"><a href="top-seller.html" class="nav-link">Bán Chạy</a></li>
          <li class="nav-item"><a href="book.html" class="nav-link">Sách</a></li>
          <li class="nav-item"><a href="author.html" class="nav-link">Tác Giả</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Liên Hệ</a></li>
      </ul>
    </div>
  </div>